@smartphones: ~"only screen and (max-width: 768px)";
@tablets: ~"only screen and (min-width: 768px) and (max-width: 959px)";

#header {
	margin-top: 0px;
}

#footer {
	margin-top: 30px;
	border-top: 1px solid #eeeeee;
	padding-top: 30px;
	color: #777777;
}

.gallery-image img {
    display: block;
    max-width: 100%;
    height: auto;
}

.navbar-header{
	display: table;
	margin-left:25%;
}
.navbar.main{
	padding-left:12%;
	margin-bottom:0px;
}

.navbar-brand {
    margin: 10px;
    padding: 0 0 0 17px;
    block-size: 100px;
    display: table-cell;
}


.navbar-brand img {
    max-height: 100%;
    opacity: 1;
}

#site_logo:hover, #site_logo:hover + #description-text{
	opacity:0.8;
}


#description-text{
	display: table-cell;
	vertical-align: middle;
	margin-bottom:0px;
	padding-left:5px;
}

p#description-text{
	color:#777;
}

#description-text a {
	color:#0077e4;
	text-decoration: none;
	font-family: 'Pattaya', sans-serif;
	font-size:5vmin;
	line-height:1;
}



#description-text:hover{
	opacity:0.8;
}



.nav.navbar-nav.navbar-left{
	margin-left:14%;
}
.nav.navbar-nav.navbar-right{
	margin-right:14%;
}


@media @smartphones{
	.navbar.main{
	padding-left:0;
	}
	#header{
	vertical-align: middle;
	}
	.navbar-header{
	display:block;
		position:relative;
	}
	.navbar-brand{
	display:block;
	position:relative;
	width:100%;
    padding-left:0;
	}

	.navbar-brand img{
	    margin-left: auto;
    margin-right: auto;

	}

	#description-text{
	display:block;
	position:relative;
	text-align:center;
	}

	#description-text a{
	font-size:40px;
	}
}